<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Datalevi", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <%= render "_user_menu.html", assigns %>
        </nav>
        <h3> Datalevi: Privacy oriented Storage</h3>
      </section>
    </header>

    <%= if Datalevi.root_configured? do %>
    <%= @inner_content %>
    <% else %>
    <main role="main" class="container">
      <section class="phx-hero">
        <h1><%= gettext "Welcome to %{name}!", name: "Datalevi" %></h1>
        <p>Your privacy orienty data server</p>
      </section>

      <%=
        alias Datalevi.Accounts
        changeset = Accounts.change_user_registration(%Accounts.User{})
        render(DataleviWeb.RootUserRegistrationView, "new.html",
          Map.put(assigns, :changeset, changeset)) %>
    </main>
    <% end %>

  </body>
</html>
